/*Styles de la première navBar*/

/*blockLogo*/


.firstBanner{
    margin: auto;
    width: 92%;
    height: 60px;
}

.logoFirstBanner{
    float: left;
    width: 150px;
    height: 120px;
    cursor: pointer;
}

.buttonAccount{
    float: right;
    margin-top: 1%;
    width: 40px;
    height: 40px;
    cursor: pointer;
    color: rgba(0, 0, 0, 0.491);
}

/*menu deroulant*/
li{
    list-style: none;
}

.listLinks{
    position: absolute;
    margin-top: 4%;
    margin-left: 71%;
    width: 200px;
    text-align: left;
    z-index: 1;
    display: none;
    background-color: white;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.169) 0px 0px 5px 3px;
}

.linkMenu{
    position: relative;
    line-height: 2;
    color: black;
    padding: 15px;
    text-decoration: none;
    display: block;
    margin-left: -20.5%;
    font-family: montserrat;

    &:hover{
        background-color:#f6b100;
    }
}

.contentMenu:hover .linkMenu{
    display: block;
}

.linkMenu1{
    &:hover{
      border-top-left-radius: 10px;  
      border-top-right-radius: 10px;  
    }
}

.linkMenu2{
    position: relative;
    margin-top: 2%;
}

.linkMenu3{
    position: relative;
    border-bottom: solid 0.5px rgba(0, 0, 0, 0.317);
    margin-top: 2%;
}

.linkMenu4{
    position: relative;
    margin-top: 2%;

    &:hover{
        border-bottom-left-radius: 10px;  
        border-bottom-right-radius: 10px;  
      }
}

/*media query*/
@media (width>=1999px){
    .buttonAccount{
        float: right;
        margin-top: 0%;
        width: 40px;
        height: 40px;
        cursor: pointer;
    }

    .logoFirstBanner{
        float: left;
        margin-top: -3.5%;
        width: 150px;
        height: 120px;
    }

    .listLinks{
        position: absolute;
        margin-top: 3.2%;
        margin-left: 80%;
        width: 170px;
        text-align: left;
        z-index: 1;
        display: none;
        background-color: white;
        border-radius: 10px;
        box-shadow: rgba(0, 0, 0, 0.169) 0px 0px 5px 3px;
    }
}

@media (width>=1501px){
    .buttonAccount{
        float: right;
        margin-top: 0%;
        width: 40px;
        height: 40px;
        cursor: pointer;
    }

    .logoFirstBanner{
        float: left;
        margin-top: -3.5%;
        width: 150px;
        height: 120px;
    }

    .listLinks{
        position: absolute;
        margin-top: 3%;
        margin-left: 75%;
        width: 200px;
        text-align: left;
        z-index: 1;
        display: none;
        background-color: white;
        border-radius: 10px;
        box-shadow: rgba(0, 0, 0, 0.169) 0px 0px 5px 3px;
    }
}

@media (width<=1500px){
    .buttonAccount{
        float: right;
        margin-right: 4%;
        margin-top: 1%;
        width: 40px;
        height: 40px;
        cursor: pointer;
    }

    .logoFirstBanner{
        float: left;
        margin-top: -2.8%;
        width: 150px;
        height: 120px;
    }

    
}

@media (width<=1380px){
    .listLinks{
        position: absolute;
        margin-top: 4.5%;
        margin-left: 70%;
        width: 190px;
        text-align: left;
        z-index: 1;
        display: none;
        background-color: white;
        border-radius: 10px;
        box-shadow: rgba(0, 0, 0, 0.169) 0px 0px 5px 3px;
    }
}

@media (width<=1380px){
    .listLinks{
        position: absolute;
        margin-top: 4%;
        margin-left: 71%;
        width: 190px;
        text-align: left;
        z-index: 1;
        display: none;
        background-color: white;
        border-radius: 10px;
        box-shadow: rgba(0, 0, 0, 0.169) 0px 0px 5px 3px;
    }
}

@media (width<=1200px){
    .listLinks{
        position: absolute;
        margin-top: 5%;
        margin-left: 67%;
        width: 200px;
        text-align: left;
        z-index: 1;
        display: none;
        background-color: white;
        border-radius: 10px;
        box-shadow: rgba(0, 0, 0, 0.169) 0px 0px 5px 3px;
    }
}

@media (width<=1100px){
    .firstBanner{
        margin: auto;
        width: 92%;
        height: 45px;
    }

    .buttonAccount{
        float: right;
        margin-right: 4%;
        margin-top: 0%;
        width: 40px;
        height: 40px;
        cursor: pointer;
    }

    .logoFirstBanner{
        float: left;
        margin-left: 3%;
        margin-top: -4.8%;
        width: 150px;
        height: 120px;
    }

    .listLinks{
        position: absolute;
        margin-top: 4.2%;
        margin-left: 67%;
        width: 190px;
        text-align: left;
        z-index: 1;
        display: none;
        background-color: white;
        border-radius: 10px;
        box-shadow: rgba(0, 0, 0, 0.169) 0px 0px 5px 3px;
    }
}

@media (width<=1000px){
    .firstBanner{
        margin: auto;
        width: 92%;
        height: 50px;
    }

    .buttonAccount{
        float: right;
        margin-right: 4%;
        margin-top: 0%;
        width: 40px;
        height: 40px;
        cursor: pointer;
    }

    .logoFirstBanner{
        float: left;
        margin-left: 3%;
        margin-top: -5.5%;
        width: 150px;
        height: 120px;
    }

    .listLinks{
        position: absolute;
        margin-top: 5%;
        margin-left: 65%;
        width: 190px;
        text-align: left;
        z-index: 1;
        display: none;
        background-color: white;
        border-radius: 10px;
        box-shadow: rgba(0, 0, 0, 0.169) 0px 0px 5px 3px;
    }
}

@media (width<=900px){
    .buttonAccount{
        float: right;
        margin-right: 4%;
        margin-top: 0%;
        width: 40px;
        height: 40px;
        cursor: pointer;
    }

    .logoFirstBanner{
        float: left;
        margin-left: 3%;
        margin-top: -6.5%;
        width: 150px;
        height: 120px;
    }

    .listLinks{
        position: absolute;
        margin-top: 5%;
        margin-left: 61%;
        width: 190px;
        text-align: left;
        z-index: 1;
        display: none;
        background-color: white;
        border-radius: 10px;
        box-shadow: rgba(0, 0, 0, 0.169) 0px 0px 5px 3px;
    }
}

@media (width<=800px){
    .listLinks{
        position: absolute;
        margin-top: 5.5%;
        margin-left: 57%;
        width: 190px;
        text-align: left;
        z-index: 1;
        display: none;
        background-color: white;
        border-radius: 10px;
        box-shadow: rgba(0, 0, 0, 0.169) 0px 0px 5px 3px;
    }
}

@media (width<=750px){
    .listLinks{
        position: absolute;
        margin-top: 6%;
        margin-left: 56%;
        width: 190px;
        text-align: left;
        z-index: 1;
        display: none;
        background-color: white;
        border-radius: 10px;
        box-shadow: rgba(0, 0, 0, 0.169) 0px 0px 5px 3px;
    }
}

@media (width<=700px){
    .firstBanner{
    }

    .buttonAccount{
        float: right;
        margin-right: 4%;
        margin-top: 0%;
        width: 40px;
        height: 40px;
        cursor: pointer;
    }

    .logoFirstBanner{
        float: left;
        margin-left: -0.5%;
        margin-top: -7.5%;
        width: 150px;
        height: 120px;
    }
    .listLinks{
            position: absolute;
            margin-top: 6%;
            margin-left: 53%;
            width: 190px;
            text-align: left;
            z-index: 1;
            display: none;
            background-color: white;
            border-radius: 10px;
            box-shadow: rgba(0, 0, 0, 0.169) 0px 0px 5px 3px;
    }
}

@media (width<=650px){
    .listLinks{
            position: absolute;
            margin-top: 6.2%;
            margin-left: 50%;
            width: 190px;
            text-align: left;
            z-index: 1;
            display: none;
            background-color: white;
            border-radius: 10px;
            box-shadow: rgba(0, 0, 0, 0.169) 0px 0px 5px 3px;
    }
}

@media (width<=600px){
    .buttonAccount{
        float: right;
        margin-right: 4%;
        margin-top: 0%;
        width: 40px;
        height: 40px;
        cursor: pointer;
    }

    .logoFirstBanner{
        float: left;
        margin-left: -1%;
        margin-top: -8.5%;
        width: 150px;
        height: 120px;
    }

    .listLinks{
        position: absolute;
        margin-top: 7%;
        margin-left: 48%;
        width: 190px;
        text-align: left;
        z-index: 1;
        display: none;
        background-color: white;
        border-radius: 10px;
        box-shadow: rgba(0, 0, 0, 0.169) 0px 0px 5px 3px;
        font-size: 15px;
}
}

@media (width<=550px){
    .logoFirstBanner{
        float: left;
        margin-left: 1.1%;
        margin-top: -7.5%;
        width: 120px;
        height: 100px;
    }

    .listLinks{
            position: absolute;
            margin-top: 8%;
            margin-left: 45%;
            width: 190px;
            text-align: left;
            z-index: 1;
            display: none;
            background-color: white;
            border-radius: 10px;
            box-shadow: rgba(0, 0, 0, 0.169) 0px 0px 5px 3px;
            font-size: 12px;
    }
}

@media (width<=500px){
    .firstBanner{
        margin: auto;
        width: 92%;
        height: 45px;
    }

    .buttonAccount{
        float: right;
        margin-right: 4%;
        margin-top: 0%;
        width: 30px;
        height: 30px;
        cursor: pointer;
    }

    .logoFirstBanner{
        float: left;
        margin-left: 1.1%;
        margin-top: -9.2%;
        width: 120px;
        height: 100px;
    }

    .listLinks{
        position: absolute;
        margin-top: 7%;
        margin-left: 50%;
        width: 150px;
        text-align: left;
        z-index: 1;
        display: none;
        background-color: white;
        border-radius: 10px;
        box-shadow: rgba(0, 0, 0, 0.169) 0px 0px 5px 3px;
}
}

@media (width<=450px){

    .listLinks{
            position: absolute;
            margin-top: 7%;
            margin-left: 45%;
            width: 150px;
            text-align: left;
            z-index: 1;
            display: none;
            background-color: white;
            border-radius: 10px;
            box-shadow: rgba(0, 0, 0, 0.169) 0px 0px 5px 3px;
    }

    .linkMenu{
        margin-left: -27%;
        &:hover{
            background-color:#f6b100;
        }
    }
}

@media (width<=400px){
    .buttonAccount{
        float: right;
        margin-right: 4%;
        margin-top: 0%;
        width: 30px;
        height: 30px;
        cursor: pointer;
    }

    .logoFirstBanner{
        float: left;
        margin-left: -2%;
        margin-top: -11%;
        width: 120px;
        height: 100px;
    }

    .listLinks{
        position: absolute;
        margin-top: 8%;
        margin-left: 40%;
        width: 150px;
        text-align: left;
        z-index: 1;
        display: none;
        background-color: white;
        font-size: 12px;
        border-radius: 10px;
        box-shadow: rgba(0, 0, 0, 0.169) 0px 0px 5px 3px;
    }

    .linkMenu{
        margin-left: -27%;
        &:hover{
            background-color:#f6b100;
        }
    }
}

@media (width<=370px){
    .logoFirstBanner{
        float: left;
        margin-left: -2%;
        margin-top: -12%;
        width: 120px;
        height: 100px;
    }

    .listLinks{
        position: absolute;
        margin-top: 9%;
        margin-left: 35%;
        width: 150px;
        text-align: left;
        z-index: 1;
        display: none;
        background-color: white;
        font-size: 12px;
        border-radius: 10px;
        box-shadow: rgba(0, 0, 0, 0.169) 0px 0px 5px 3px;
    }
}

@media (width<=350px){
    .logoFirstBanner{
        float: left;
        margin-left: -2%;
        margin-top: -13%;
        width: 120px;
        height: 100px;
    }

    .listLinks{
        position: absolute;
        margin-top: 9%;
        margin-left: 32%;
        width: 150px;
        text-align: left;
        z-index: 1;
        display: none;
        background-color: white;
        font-size: 12px;
        border-radius: 10px;
        box-shadow: rgba(0, 0, 0, 0.169) 0px 0px 5px 3px;
    }
}

@media (width<=330px){
    .logoFirstBanner{
        float: left;
        margin-left: -3.5%;
        margin-top: -14%;
        width: 120px;
        height: 100px;
    }

    .listLinks{
        position: absolute;
        margin-top: 10%;
        margin-left: 30%;
        width: 150px;
        text-align: left;
        z-index: 1;
        display: none;
        background-color: white;
        font-size: 12px;
        border-radius: 10px;
        box-shadow: rgba(0, 0, 0, 0.169) 0px 0px 5px 3px;
    }

    .linkMenu{
        margin-left: -29%;
        &:hover{
            background-color:#f6b100;
        }
    }
}

@media (width<=310px){
    .logoFirstBanner{
        float: left;
        margin-left: -3.5%;
        margin-top: -14%;
        width: 120px;
        height: 100px;
    }

    .listLinks{
        position: absolute;
        margin-top: 10%;
        margin-left: 25%;
        width: 150px;
        text-align: left;
        z-index: 1;
        display: none;
        background-color: white;
        font-size: 12px;
        border-radius: 10px;
        box-shadow: rgba(0, 0, 0, 0.169) 0px 0px 5px 3px;
    }

    .linkMenu{
        margin-left: -30%;
        font-size: 12px;
        &:hover{
            background-color:#f6b100;
        }
    }
}

@media (width<=300px){
    .buttonAccount{
        float: right;
        margin-right: 4%;
        margin-top: 3%;
        width: 30px;
        height: 30px;
        cursor: pointer;
    }

    .logoFirstBanner{
        float: left;
        margin-left: 0.6%;
        margin-top: -11%;
        width: 120px;
        height: 100px;
    }

    .listLinks{
        position: absolute;
        margin-top: 13.5%;
        margin-left: 25%;
        width: 150px;
        text-align: left;
        z-index: 1;
        display: none;
        background-color: white;
        font-size: 15px;
        border-radius: 10px;
        box-shadow: rgba(0, 0, 0, 0.169) 0px 0px 5px 3px;
    }
}