.rowBodyDashboard{
    position: absolute;
    margin-top: 5.3%;
    width: 100.7%;
    z-index: 0;
}

.blockMenuDashboard{
    position: fixed;
    background-color: #482e5d;
    height: 100%;
    display: block;
}

.contentDashboard{
    width: 100.7%;
    margin-left: 1%;
}

@media(width>=1500px){
    .rowBodyDashboard{
        margin-top: 4.5%;
    }  
}