/* .blockDashboard {
  position: absolute;
  margin-top: 4.5%;
  display: flex;
}

/* .blockDashboardAdmin{
    display: flex;
} */

/* .leftNavBar{
    background-color: Red;
} */

/* .Right {
  background-color: red;
}

.left {
  background-color: red;
} */
